<div class="container">
    <div class="row">
        <div class="col-md-4">
        <input type="text"
            [(ngModel)]="filters.keyword"
            name="keyword"
            (input)="listExpenses()" 
            class="form-control"
            placeholder="Filter expense"/>
    </div>

    <div class="col-md-4">
        <select name="sortBy" 
                [(ngModel)]="filters.sortBy" 
                (change)="listExpenses()"
                class="form-control">
            <option>Name</option>
            <option>Amount</option>
        </select>
    </div>
    
        <div class="col-md-4">
            <a routerLink="/add-expenses" class="btn btn-primary text-light">Add Expense</a>
        </div>
    </div>

        <div class="card mt-2" *ngFor="let e of expenses">
            <a routerLink="/edit-expense/{{e.id}}" class="card-body flex">
                <span class="text-capitalize font-weight-bold">
                    {{ e.expense }}
                </span>
    
                <span class="float-right mr-2 badge badge-pill badge-warning font-weight-bold amount">
                    {{ e.amount | currency: 'USD' }}
                </span>
            </a>
            <div class="card-footer">
                <button class="btn btn-danger" (click)="deleteExpense(e.id)" style="width: 10%;">Delete</button>
            </div>
        </div> 
</div>


