<div class="container">
    <div class="row">
            <form (ngSubmit)="saveExpense()">

                    <div class="form-group">
                            <input type="text" name="expense" [(ngModel)]="expense.expense"
                            placeholder="Enter expense name" class="form-control col-md-12 "/>
                    </div>

                    <div class="form-group">
                            <input type="text" name="amount" [(ngModel)]="expense.amount" placeholder="Enter amount" 
                            class="form-control col-md-12" />
                    </div>

                    <div class="form-group">
                            <textarea type="text" name="description" [(ngModel)]="expense.description"
                            placeholder="Enter description" class="form-control col-md-12"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Expense</button>
                    <button *ngIf="expense.id" (click)="deleteExpense(expense.id)" class="btn btn-danger">Delete</button>

                    
            </form>
    </div>
</div>

